<section class="book-table-container" aria-label="Books table">
  <div class="table-scroll">
    <table class="book-table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Description</th>
          <th scope="col">Rating</th>
          <th scope="col">Started</th>
          <th scope="col">Read</th>
          <th scope="col">Status</th>
          <th scope="col" class="actions-column">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (book of books(); track book.id) {
          <tr>
            <td class="title-cell">
              <a [routerLink]="['/books', book.id]">{{ book.title }}</a>
            </td>
            <td class="author-cell">{{ book.author }}</td>
            <td class="description-cell">{{ book.description }}</td>
            <td class="rating-cell">
              @if (book.rating !== null) {
                <span class="rating-value" [attr.aria-label]="'Rating: ' + book.rating + ' out of 5'">
                  {{ book.rating }}/5
                </span>
              } @else {
                <span class="empty-value">Not rated</span>
              }
            </td>
            <td class="date-cell">
              @if (book.dateStarted) {
                {{ book.dateStarted | date:'medium' }}
              } @else {
                <span class="empty-value">Not started</span>
              }
            </td>
            <td class="date-cell">
              @if (book.dateRead) {
                {{ book.dateRead | date:'medium' }}
              } @else {
                <span class="empty-value">Not read</span>
              }
            </td>
            <td class="status-cell">
              <span class="status-badge">{{ bookStatusLabel(book.status) }}</span>
            </td>
            <td class="actions-cell">
              <div class="table-actions">
                <a [routerLink]="['/books', book.id]" class="button button-small">View</a>
                @if (book.status !== BookStatus.Read) {
                  <a [routerLink]="['/books', book.id, 'edit']" class="button button-small">Edit</a>
                }
                <a [routerLink]="['/books', book.id, 'delete-book']" class="button button-small button-danger">Delete</a>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>