@if (store.isAuthenticated()) {
  <div class="auth-status">
    <a routerLink="/profile" class="avatar-link" [title]="store.displayName()">
      @if (store.avatarUrl(); as url) {
        <img [src]="url" [alt]="store.displayName()" class="avatar-img" />
      } @else {
        <span class="avatar-initials">{{ initials }}</span>
      }
      <span class="hover-name">{{ store.displayName() }}</span>
    </a>
    <button type="button" class="button-link" (click)="requestLogout()">Log out</button>
  </div>
} @else {
  <a routerLink="/login" class="button-link">Log in</a>
}

@if (showLogoutConfirm()) {
  <app-confirm-dialog
    title="Log out?"
    message="You'll need to log in again to access your books."
    confirmLabel="Log out"
    [danger]="true"
    (confirmed)="confirmLogout()"
    (cancelled)="cancelLogout()"
  />
}